
.header {
    background: $whiteColor;
    box-shadow: 0px 0px 7px rgba(000, 000, 000, 0.4);
    position: relative;
}

.logoSAT {
    width: 100%;
    max-width: 450px; 
}

.bgTit {
    background: $fourColor;
}
.mainTitInter {
    color: $thirdColor;
    h1 {
        font-size: 1.5em;
        padding: 15px 0px;
        margin: 0px;
        font-weight: 500;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 0px;
    }
}

.userHeader {
    background: #EEEEEE;
    p {
        font-size: 14px;
        margin-bottom: 0px;
        span {
            font-size: 14px;
        }
    }
}
