
/* Grises 
$mainColor: #CED6DD;
$secondColor: #AFB9BF;
*/

// Azules
$mainColor: #B0C4DE;
$secondColor: #6986AC;

$thirdColor: #545454;
$fourColor: #f6f6f6;
$fiveColor: #222;
$whiteColor: #fff; 
$blackColor: #000;
